this is to render multiple array of secret

<%  usersWithSecrets.forEach(function(user){  %> 
  <%  user.secret.forEach(function(singlesecret){  %> 
        <p class="secret-text"><%= singlesecret %></p>  
     <% });  %> 
   <%  }); %> 


     <% usersWithSecrets.forEach(function(user){ %>  
      <p class="secret-text"><%= user.secret %></p>
    <% }); %>